tenancy_ocid     = "ocid1.tenancy.oc1..replace-me"
compartment_ocid = "ocid1.compartment.oc1..replace-me"
region           = "us-chicago-1"

function_image = "iad.ocir.io/<namespace>/hello-world:1.0.0"
function_name  = "hello-world"

application_name            = "functions-app"
resource_name_prefix        = "tf-fn"
function_memory_in_mbs      = 256
function_timeout_in_seconds = 30

vcn_cidr          = "10.20.0.0/16"
public_subnet_cidr = "10.20.1.0/24"

defined_tags  = {}
freeform_tags = {}
